<!DOCTYPE html>
<html>

<head>
    <title>{{globals.title}}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179495993-1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <meta name="theme-color" content="{{globals.theme}}">
    <link rel='stylesheet' href='/assets/css/main.css' type='text/css' />
</head>

<body>
    {{> @partial-block}}
</body>

</html>
